.image-with-text {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}

.game-name {
    position: absolute;
    bottom: 0;
    background-color: #000000;
    background-color: #000000aa;
    color:white;
    font-size: 24px;
    width: 100%;
    padding: 20px;
    text-align: center;
    transform: translate(0%, 12.5%);
}

.badges {
    margin-bottom: 8px;
}

.subtitle {
    margin-bottom: 8px;
}

.zoom-on-hover {
    transition: transform .2s ease-in-out;
}

.zoom-on-hover:hover {
    transform: scale(1.02);
}

/* colors */
#topbanner {
    background-color: #281531;
}

#projects {
    background-color: #3B2545;
}

#navbarDropdown {
    color: #aaaaaa;
}

a.dropdown-item {
    color: #fff
}

.godot {
    background-color: #478cbf;
}
.ulster {
    background-color: #130f3d;
}
.itch {
    background-color: #FF2449;
}
.maya {
    background-color: #36a1c6;
}

.adobexd {
    background-color: #f75eee;
}

.js {
    background-color: #efdb52;
}

.python {
    background-color: #347ab4;
}

.monospace {
    font-family: 'Courier New', Courier, monospace;
}

/* body.page {
    background-color: #1C1221
} */

/* div.card {
    background-color: #1C1221
    background-color: #170B1C
} */