.godot {
    color: white;
    background-color: #478cbf;
}
.ulster {
    color: white;
    background-color: #130f3d;
}
.itch {
    color: black;
    background-color: #FF2449;
}

nav.navbar-dark {
    background-color: #130f3d;
}