#behaviourtree1 {
    min-height: 398px;
    margin-bottom: 16px;
    background-image: url(../images/behaviourtree.png);
    background-position: center;
    background-size: cover;
}

#crtmaterial {
    min-height: 310px;
    margin-bottom: 16px;
    background-image: url(../images/crtmaterial.png);
    background-position: center;
    background-size: cover;
}