        <meta charset="utf-8">
        <meta name="author" content="El Blair">
        <meta name="description" content="Programming, design & technical art portfolio of El Blair, Unreal Engine 5 Developer">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title | default: "Home" }} | El Blair - Games Programmer</title>
        <link rel="stylesheet" href="/css/bundle.css">

        <!-- Favicons for different browsers / devices -->
        <link rel="icon" type="image/svg+xml" href="/img/favicon.svg">
        <!-- For iPad -->
        <link rel="apple-touch-icon" type="image/png" sizes="167x167" href="/img/favicon-167x167.png">
        <!-- For iPhone -->
        <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/img/favicon-180x180.png">
        <!-- For Android -->
        <link rel="icon" type="image/png" sizes="48x48" href="/img/favicon-48x48.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon-192x192.png">

        <!-- Manrope is the best font ever -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Code:wght,MONO@300..800,1&family=Manrope:wght@200..800&display=swap" rel="stylesheet">