.unreal {
    background-color: rgb(33,37,41);
}
.blueprints {
    background-color: rgb(13,110,253);
}
.umg {
    background-color: rgb(108,117,125);
}
.godot {
    background-color: #478cbf;
}
.gdscript {
    background-color: #478cbf;
}
.ulster {
    background-color: #130f3d;
}
.itch {
    background-color: #FF2449;
}
.maya {
    background-color: #36a1c6;
}
.pixelover {
    background-color: #333C57;
}
.blockbench {
    background-color: #1A91D7;
}
.blender {
    background-color: #EA7600;
}
.meshlab {
    background-color: #457342;
}
.svg {
    background-color: #f29100;
}
.inkscape {
    background-color: #444;
}
.ink {
    background-color: #111;
}
.adobexd {
    background-color: #f75eee;
}
.js {
    background-color: #efdb52;
}
.python {
    background-color: #347ab4;
}
.cpp {
    background-color: #67b0fd;
}