main {
    text-align: center !important;
}

.hey {
    font-weight: 900;
    font-size: clamp(2rem, 5vw, 3.75rem); 
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 20px 30px;
}

@media screen and (max-width:768px) {
    .project-container {
        grid-template-columns: repeat(1,1fr);
    }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.2s;
  border-radius: 5px;
  width: 100%;

  img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
  }
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
  padding: 2px 16px;
}