---
layout: homepage.html
header: header.html
---
<h1 class="hey">Hey!</h1>
<p>I'm El, an Unreal Programmer from Northern Ireland.</p>
<p>This site is still under construction :P</p>

<!--
<p>Here's a vaguely organised collection of writeups on things I've done.</p>

<h2>Professional</h2>
<div class="project-container" id="{{ collection[0] }}">
    {%- for project in collections.professional -%}
        {% include "_card.html" %}
    {%- endfor -%}
</div>

<h2>University</h2>
<div class="project-container" id="{{ collection[0] }}">
    {%- for project in collections.university -%}
        {% include "_card.html" %}
    {%- endfor -%}
</div>

<h2>Game Jams</h2>
<div class="project-container" id="{{ collection[0] }}">
    {%- for project in collections.jams -%}
        {% include "_card.html" %}
    {%- endfor -%}
</div>

<h2>Odd Jobs</h2>
<div class="project-container" id="{{ collection[0] }}">
    {%- for project in collections.oddjobs -%}
        {% include "_card.html" %}
    {%- endfor -%}
</div>
-->